---
# file requires clang format 14.0 or higher
BasedOnStyle: Microsoft
Cpp11BracedListStyle: true
AccessModifierOffset: -4
AlignArrayOfStructures: Right
AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine : false
AlwaysBreakAfterReturnType : None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 140
PackConstructorInitializers: Never
PointerAlignment: Left
BraceWrapping:
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: true
...
